name: Build

on:
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      
      - name: Install mise
        uses: jdx/mise-action@v3
      
      - name: Install tools
        run: mise install
      
      - name: Build
        run: mise build
